<% include head %>
<h2><%= about %></h2>
<img id="bio-photo" src="/img/biophoto.jpg" alt="Photograph of BVIDev's Author">
<p p class="first-letter-large"><%= aboutContent %></p>

<% include footer.ejs %>