
<ol>
    <li>Look over the list of languages and frameworks you are expecting to learn</li>
    <li>Familiarize yourself with the languages</li>
    <li>Attend class &amp; particpate</li>
    <li>Practice, practice, practice</li>
    <li>Network</li>
</ol>