</article>
<aside class="col-md-3">
    <div id="contact-me">
        <form action"/confirmation" method="POST">
            <h4>Contact Me</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="fName" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="LName" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email_address" placeholder="E-mail Address">
            </div>    
            <button type="submit" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Send Now
            </button>
        </form>
    </div>
</aside>
</div>
</section>