<% include head %>

   <h2><%- content %></h2>
    <p><%= narrative %></p> 
    <h5>CSS file correctly linked - My BG color is RED</h5>
    <ol>
        <li>Look over the list of languages and frameworks you are expecting to learn</li>
        <li>Familiarize yourself with the languages</li>
        <li>Attend class &amp; particpate</li>
        <li>Practice, practice, practice</li>
        <li>Network</li>
    </ol>
    
    
    <% include footer.ejs %>
