<% include head %>

<% for(var i = 0; i < posts.length; i++) {%>
        <article><h2><%= posts[i].title %></h2>
        <p><strong>Author: </strong><%= posts[i].author %><br>
        <strong>Date: </strong><%= posts[i].pubDate %></p>
        <br>
        <p><%= posts[i].content %></p>
        </article>
        <hr>
<% } %> 


<% include body %>
    
<% include footer %>
