<% include head %>

   <h2><%- content %></h2>
    <p><%= narrative %></p> 
    <h5>CSS file correctly linked - My BG color is RED</h5>

    for (var i = 0; i < list.lenght; i++) {
        list[i]
    }
    
    <% include footer.ejs %>
