<% include head %>

    <h2><%- heading %></h2>
    <p><%= narrative %></p> 

    <% include adviselist %>    

    <% include body %>
    
    <p id="more-arrow"><a href="/bootcamp">Continue Reading &rarr;</a></p>      
    
    <% include footer %>
