<% include head %>

    <h2><%- content %></h2>
    <p><%= narrative %></p> 

    <% include adviselist %>    
    
    <p id="more-arrow"><a href="/bootcamp">Continue Reading &rarr;</a></p>        
    
    <% include contact %>
    
    <% include footer %>
