<img id="html5-img" src="img/html5.png" alt="Photo representing HTML 5">

<div id="semantic-elements">
    <ul>
        <code>
            <li>&lt;header&gt; &lt;&frasl;header&gt;</li>
            <li>&lt;nav&gt; &lt;&frasl;nav&gt;</li>
            <li>&lt;main&gt; &lt;&frasl;main&gt;</li>
            <li>&lt;section&gt; &lt;&frasl;section&gt;</li>
            <li>&lt;article&gt; &lt;&frasl;article&gt;</li>
            <li>&lt;aside&gt; &lt;&frasl;aside&gt;</li>
            <li>&lt;footer&gt; &lt;&frasl;footer&gt;</li>   
            <li>&lt;details&gt; &lt;&frasl;details&gt;</li>
            <li>&lt;figcaption&gt; &lt;&frasl;figcaption&gt;</li>
            <li>&lt;mark&gt; &lt;&frasl;mark&gt;</li>
            <li>&lt;summary&gt; &lt;&frasl;summary&gt;</li>
            <li>&lt;time&gt; &lt;&frasl;time&gt;</li>
            <li>&lt;figure&gt; &lt;&frasl;figure&gt;</li>
        </code>
    </ul>
</div>