<% include head %>

    <form action="/newpost" method="POST">
        <div id="contact-me">
            <div class="form-group">
                <label for="id">Permalink</label>
                <input type="text" class="form-control" id="id" name="id">
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="pubDate">pubDate</label>
                <input type="date" class="form-control" id="pubDate" name="pubDate">
            </div>
            <div class="form-group">
                <label for="content">Post Content</label>
                <textarea name="content" class="form-control" id="content" cols="60" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Publish
            </button>
        </div>
    </form>

    <% include footer %>