<!-- Pagination Links-->
<div id="pagination-list-items">
        <ul class="pagination">
            <li><a href="/">More Articles &rarr;</a></li>
            <li><a href="/bootcamp">1</a></li>
            <li><a href="/html">2</a></li>       
        </ul>
    </div>