/********************************
    HERO IMAGE
*********************************/
body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
  background-image: url("/img/home-office.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
    font-size: 5rem;
}

.hero-text p {
    font-size: 3rem;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: firebrick;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.hero-text button a:link {
    text-decoration: none !Important;
}

.hero-text button a:visited {
    color: white !Important;
}


/*******************************
    HEADER
*******************************/
header {
    margin-bottom: 5rem;
}


/*****************************
    BODY
*******************************/
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F4EEEE;
}

.section-body {
    margin-top: 5rem;   
}

.featured-article {
    max-width: 50%;
    margin-left: 5rem;
    padding: 3rem;
    background-color: white; 
    border-radius: 1rem;
}

h2 {
    font-size: 2.7rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

h4 {
    font-weight: bold;
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
}

ol {
    font-size: 1.6rem;
}

/*PAGINATION*/
#pagination-list-items {
    text-align: center;
}

    
/**********************************
    INDEX PAGE
***********************************/
#more-arrow {
    background-color: firebrick;
    font-weight: bold;
    color: white !Important;
    font-size: 1.4rem;
    text-align: center;
    width: 35%;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 0.5rem;   
    border-radius: 0.5rem;
}

#more-arrow a:link {
    text-decoration: none !Important;
}

/* p:hover #more-arrow {
    background-color: #555;
    color: white;
} */

#more-arrow a:visited {
    color: white !Important;
}


/***************************************
    ABOUT ME PAGE
****************************************/    
#bio-photo {
    position: relative;
    float: left;
    margin-right: 3rem;
    margin-left: 1rem;
    max-width: 15%;
    box-shadow: 0px 0px;
    border-radius: 5rem;
}

/* p::first-letter {
    font-size: 200%;
    font-weight: bold;
} */


/*******************************
    ASIDE
********************************/
aside {
    background-color: mediumaquamarine;
    height: 30rem;
    margin-left: 8rem;
    padding-right: 10rem;
    border-radius: 2rem;
    color: white;    
}
    
/*Contact Form on Aside*/
#contact-me {
    width: 80%;
    padding-top: 2rem;
    padding-left: 7rem; 
}

    /* Send Now Button */
.btn-default {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
}

/* .btn-default button:hover {
    background-color: #555 !Important;
    color: white;
}

.btn-default a:visited {
    background-color: #555 !Important;
    color: white !Important;
} */


/*******************************
    BOOTCAMP ARTICLE PAGE
*********************************/
img {
    border-radius: 2rem;
    margin-bottom: 2rem;
    max-width: 70%;
    margin-left: 15%;
    box-shadow: 10px 10px grey;
}

/*******************************
    ABOUTHTML ARTICLE PAGE
*********************************/
#hyperlink-example {
    border-radius: 2rem;
    margin-bottom: 2rem;
    max-width: 70%;
    margin-left: 15%;
    box-shadow: 10px 10px grey;
}

#html5-img{
    border-radius: 2rem;
    margin-bottom: 2rem;
    max-width: 20%;
    margin-left: 5%;
    margin-right: 25%;
    box-shadow: 10px 10px grey;
    position: relative;
    float: left;
    top: 1rem;
}

#semantic-elements {
    float: right;
    margin-right: 10%;     
}

.clear-float {
    clear: both;
}


/******************************
    FOOTER
*******************************/
.footer {
    padding-top: 5rem;
    text-align: center;
    color: firebrick;
    font-weight: bold;
}